@font-face {
	font-family: 'Conv_Lato-Light';
	src: url('assets/fonts/Lato-Light.eot');
	src: local('☺'), url('assets/fonts/Lato-Light.woff') format('woff'), url('assets/fonts/Lato-Light.ttf') format('truetype'), url('assets/fonts/Lato-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('assets/fonts/Lato-Regular.eot');
	src: local('☺'), url('assets/fonts/Lato-Regular.woff') format('woff'), url('assets/fonts/Lato-Regular.ttf') format('truetype'), url('assets/fonts/Lato-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('assets/fonts/Lato-Bold.eot');
	src: local('☺'), url('assets/fonts/Lato-Bold.woff') format('woff'), url('assets/fonts/Lato-Bold.ttf') format('truetype'), url('assets/fonts/Lato-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

* {
  box-sizing: border-box;
}

body, ul, h1, h2, h3, h4, p, a {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

lI {
  list-style-type: none;
}

/* header */

.header {
  width: 100%;
  background-color: #2D303A;
  border-bottom: solid 7px #323746;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1020px;
}

.logo {
  padding: 29px 0px 29px 40px;
}

.logo__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.logo__star {
  margin-left: -3px;
  color: #F06C64;
}

.nav {
  padding: 40px 39px 29px 0;
}

.nav__list {
  display: flex; 
}

.nav__list-item-link {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.4px;
  letter-spacing: 3.5%;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.nav__list-item-link:hover {
  color: #F06C64;
}

.nav__list-item-link::before {
  content: "\00b7";
  color: #FFFFFF;
  padding: 0 15px;
} 

.nav__list-item-link-first::before {
  content: "";
  color: transparent;
  padding: 0;
}

.active {
  color: #F06C64;
}

/* slider */

.slider {
  max-width: 100%;
  background-color: #F06C64;
}

.slider__wrapper {
  position: relative;
  margin: 0 auto;
  width: 1020px;
}

.slider__header {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.slider__content {
  display: flex;
  padding: 54px 137px 63px 107.5px;
}

.vertical-phone, .horizontal-phone {
  position: relative;
  height: 483px;
}

.vertical-phone__img, .vertical-phone__shadow, .vertical-phone__display, .horizontal-phone__img, .horizontal-phone__shadow, .horizontal-phone__display {
  position: absolute;
}

.vertical-phone {
  left: 4px;
}

.vertical-phone__img {
  background-image: url('./assets/img/vertical-phone.svg');
  width: 216px;
  height: 458px;
  z-index: 2;
}

.vertical-phone__shadow {
  background-image: url("./assets/img/phone-vertical-shadow.svg");
  width: 240px;
  height: 483px;
  z-index: 1;
}

.vertical-phone__display {
  background-image: url('./assets/img/phone-vertical-display.svg');
  width: 188px;
  height: 333px;
  left: 14px;
  top: 65px;
  z-index: 3;
}

.horizontal-phone {
  top: 122.5px;
  left: 318px;
}

.horizontal-phone__img {
  background-image: url('./assets/img/phone-horizontal.svg');
  width: 458px;
  height: 216px;
  z-index: 2;
}

.horizontal-phone__shadow{
  background-image: url("./assets/img/phone-horizontal-shadow.svg");
  width: 483px;
  height: 240px;
  z-index: 1;
}

.horizontal-phone__display {
  background-image: url('./assets/img/phone-horizontal-display.svg');
  width: 333px;
  height: 188px;
  left: 60px;
  top: 14px;
  z-index: 3;
}

.left-arrow, .right-arrow {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.left-arrow {
  top: 283px;
  left: 35px;
}

.right-arrow {
  top: 283px;
  right: 35px;
}

/* our services */
.our-services {
  max-width: 100%;
  background: #F2F2F2;
  border-bottom: 8px solid #FFFFFF;;
}
.out-services__wrapper {
  width: 1020px;
  margin: 0 auto;
  padding: 59px 40px 25px;
}

.our-services__header {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.title {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}

.our-servicer__title {
  color: #666D89;
}

.desc {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.our-services_desc {
  margin-top: 18px;
  color: #767E9E;
}

.our-services__advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 48px;
}

.our-services__advantages-item {
  display: flex;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 31px;
}

.last-in-row {
  margin-right: 0;
}

.our-services__advantages-item-desc {
  margin-left: 20px;
}
.our-services__advantages-item-desc-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  color: #666D89;
}

.our-services__advantages-item-desc-title_support{
  letter-spacing: 0.5px;
}

.our-services__advantages-item-desc-text {
  margin-top: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  color: #767E9E;
}

/* portfolio */

.portfolio {
  max-width: 100%;
  background-color: #2D303A;
  color: #666D89;
}

.portfolio__wrapper {
  width: 1020px;
  margin: 0 auto;
  padding: 60px 40px 54px;
}

.portfolio__header {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.portfolio__desc {
  margin-top: 18px;
}

.portfolio__filter-buttons-block {
  display: flex;
  margin-top: 11px;
}

.portfolio__button {
  margin-right: 10px;
  padding: 4px 6px;
  background-color: transparent;
  color: #767E9E;
  border: 1px solid #767E9E;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  cursor: pointer;
}

.portfolio__button:hover{
  border: 1px solid #DEDEDE;
  color: #DEDEDE;
}

.active-button {
  border: 1px solid #DEDEDE;
  color: #DEDEDE;
}

.portfolio__img-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 18px;
}

.portfolio__img-block-img{
  margin-bottom: 20px;
}