.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #F06C64;
}

.slider.change-slide {
  background-color: #648BF0;;
}

.slider__wrapper {
  position: relative;
  max-width: 1020px;
  margin: 0 auto;
  overflow: hidden;
}

.slider__header {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.slides__container {
  position: relative;
  display: flex;
  height: 696px;
  width: 100%;
  padding-top: 94px;
}

.slide_1, .slide_2 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 2s;
}

.vertical-phone {
  position: relative;
  left: 1%;
  width: 23.5294vw;
  height: 47.3529vw;
}

.vertical-phone__img {
  position: absolute;
  background-image: url("/assets/img/vertical-phone.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: -1%;
  left: 0;
  width: 90%;
  height: 95.1240%;
  z-index: 2;
}

.vertical-phone__shadow {
  position: absolute;
  background-image: url("/assets/img/phone-vertical-shadow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.vertical-phone__display {
  position: absolute;
  background-image: url("/assets/img/phone-vertical-display.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 78.3333%;
  height: 69.9440%;
  top: 12.4575%;
  left: 6.0416%;
  z-index: 3;
} 

.horizontal-phone {
  position: relative;
  width: 47.3529vw;
  height: 23.5294vw;
  margin-left: 10%;
  top: -0.7%;
  right: 1.5%; 
}

.horizontal-phone__img {
  position: absolute;
  background-image: url("/assets/img/vertical-phone.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(90deg);
  top: -50%;
  left: 25%;
  width: 44.7204%; 
  height: 190.8333%; 
  z-index: 2;
}

.horizontal-phone__shadow{
  position: absolute;
  background-image: url("/assets/img/phone-horizontal-shadow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.horizontal-phone__display {
  position: absolute;
  background-image: url("/assets/img/phone-horizontal-display.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 68.9440%;
  height: 78.3333%;
  top: 6.1236%;
  left: 12.4223%;
  z-index: 3;
} 

.vertical-phone__display, .horizontal-phone__display {
  opacity: 100;
  transition: 1s;
}

.displays {
  opacity: 0;
  transition: 1s;
}

.left-arrow, .right-arrow {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.left-arrow {
  background-image: url("/assets/img/arrow-left.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 27px;
  width: 16px;
  top: 50%;
  margin-top: 2.8%;
  left: 39px;
}

.right-arrow {
  background-image: url("/assets/img/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 27px;
  width: 16px;
  top: 50%;
  margin-top: 2.8%;
  right: 39px;
}

.left-arrow.change-slide {
  background-image: url("/assets/img/arrow-left-blue.svg");
}


.right-arrow.change-slide {
  background-image: url("/assets/img/arrow-right-blue.svg");
}

.small__phone_left, .small__phone_right {
  position: absolute;
  background-image: url("/assets/img/slider-content-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 31vw;
  width: 15.5vw;
}

.small__phone_left {
  margin-top: 2%;
  left: 24.5%;
}

.small__phone_right {
  margin-top: 2%;
  right: 24.8%;
}

.center__phone {
  position: absolute;
  background-image: url("/assets/img/slider-content-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50.4vw;
  width: 25vw;
  right: 37.7%;
  z-index: 5000;
}

.slide__item, .slide__item_hidden {
  display: none;
}

.slide__item_visible {
  display: flex;
}

@media(min-width: 1020px){
  .vertical-phone {
    width: 240px;
    height: 480px;
  }

  .horizontal-phone {
    height: 240px;
    width: 480px;
  }

  .small__phone_left, .small__phone_right {
    width: 156.02px;
    height: 314px;
  }

  .center__phone {
    height: 513px;
    width: 254.91px;
  }
}

@media (max-width: 768px){
  .slides__container {
    height: 544px;
  }

  .center__phone {
    height: 50.4vw;
    width: 25vw;
    right: 36.7%;
  }

  .small__phone_left, .small__phone_right {
    height: 31vw;
    width: 15.5vw;
  }

  .small__phone_right {
    right: 24.8%;
  }

  .right-arrow, .left-arrow {
    top: 53%;
  }

  .right-arrow {
    right: 27px;
  }

  .left-arrow {
    left: 29px;
  }

  .vertical-phone {
    width: 23.5294vw;
    height: 47.3529vw;
    left: 1.2%;
  }

  .vertical-phone__img {
    width: 90%;
    height: 94.824%;
    top: 0%;
    left: 0px;
  }

  .vertical-phone__display {
    width: 78%;
    height: 69%;
    top: 13.4575%;
    left: 6.1416%;
  }

  .horizontal-phone {
    height: 23.5294vw;
    width: 47.3529vw;
  }

  .horizontal-phone__img {
    top: -49%;
  }

  .horizontal-phone__display {
    width: 68.9440%;
    height: 78.3333%;
    top: 7.1236%;
    left: 12.3223%;
  }
}

@media (max-width: 600px){
  .slides__container {
    height: 500px;
    /* width: 220%; */
  }

  .center__phone {
    height: 65%;
    width: 26%;
  }

  .center__phone {
    height: 50.4vw;
    width: 25vw;
    right: 40.7%;
  }

  .small__phone_left, .small__phone_right {
    height: 31vw;
    width: 15.5vw;
  }

  .small__phone_right {
    right: 28.8%;
  }

  .horizontal-phone {
    margin-left: 6%;
  }

  .right-arrow, .left-arrow {
    top: 53%;
  }
}

@media (max-width: 575px){
  .slides__container {
    height: 450px;
  }

  .right-arrow, .left-arrow {
    top: 54%;
  }

  .left-arrow {
    left: 20px;
  }

  .right-arrow {
    right: 20px;
  }
}

@media (max-width: 430px){
  .vertical-phone {
    left: 0%;
  }

  .vertical-phone__display {
    left: 7.1416%;
  }

  .horizontal-phone__display {
    left: 12.9223%;
  }

  .left-arrow {
    left: 15px;
  }

  .right-arrow {
    right: 15px;
  }
}

@media (max-width: 375px){
  .slides__container {
    height: 291.38px;
    padding-top: 70px;
  }

  .right-arrow, .left-arrow {
    top: 54%;
  }

  .left-arrow {
    left: 9px;
  }

  .right-arrow {
    right: 9px;
  }

  .vertical-phone {
    left: 1%;
  }

  .vertical-phone__display {
    left: 7.1416%;
  }

  .horizontal-phone {
    margin-left: 10%;
  }

  .horizontal-phone__display {
    left: 12.9223%;
  }

  .center__phone {
    right: 36.7%;
  }

  .small__phone_right {
    right: 23.8%;
  }
}